.field{
    position: absolute;
    top: 30px;
    left: 25%;
}

.input-field{
    display: block;
    width: 700px;
    height: 300px;
    position: absolute;
}

.actions-field{
    width: 300px;
    height: 300px;
    display: inline-block;
    position: absolute;
    margin: 10px;
}

.round-field{
    top: 350px;
    display: block;
    width: 700px;
    height: 300px;
    position: absolute;
}

.user-input{
    left: 0;
}

.server-input{
    right: 0;
}

h1{
    text-align: center;
}

.action{
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    filter: grayscale(50%);
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;

}

.user-input .action:hover,
.user-input .action:active{
    filter: none;
    cursor: pointer;
    shadow: 2px 2px 4px rgba(0,0,0,0.5);
    background-size: 120px;
    background-position: center;
}

.scissors{
    background-image: url("images/scissors.png"); /*Image provided by Enzoklop [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons*/
}

.paper{
    background-image: url("images/paper.png"); /*Image provided by Enzoklop [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons*/
    right: 0;
}
.rock{
    background-image: url("images/rock.png"); /*Image provided by Enzoklop [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons*/
    bottom: 0;
    left: calc(50% - 60px);
}

.user-round, .server-round{
    display: inline-block;
}

.server-round {
    right: 0;
    position: absolute;
}

.round-action{
    background-size: 300px;
    width: 300px;
    height: 300px;
}


#notification-box {
    text-align: center;
    position: absolute;
    top: -30px;
    min-width: 500px;
    z-index: 2;
    left: 5em;
}
#notification-box:hover {
    display: block;
}
.notification-enter-active, .notification-leave-active {
    transition: opacity 1s, top 1s;
}
.notification-enter /* .fade-leave-active below version 2.1.8 */ {
    top:-40px;
    opacity: 0;
}
.notification-enter-to /* .fade-leave-active below version 2.1.8 */ {
    top: 0;
    opacity: 0.95;
}
.notification-leave {
    top: 0;
    /*opacity: 0.95;*/
}
.notification-leave-to {
    top: -40px;
    opacity: 0.5;
}