{#{% load static %}#}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock–paper–scissors</title>
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
  <script src="/static/store.js" defer></script>
  <script src="/static/index.js" defer></script>
</head>
<body>
  <div id="body_wrapper">

  </div>
</body>
</html>